    <div class="jumbotron1">
        <h2>Please Report Bugs Here:</h2>

        <p>
        <h3>You email bug reports to cyberpdfteam@someemail.thing</h3>
        <h3>You can call our bug hotline at: 555-555-5555</h3>
        <h2> Thank you for helping to make CyberPDF Bug-Free.</h2>
        </p>
    </div>
