<body>
    <div class="jumbotron1">
    <ol>
        <h2>
            How Do I Use CyberPDF?

        </h2>
        <h3>General Purpose: CyberPDF converts cropped data within a group of identical PDFs to automate data selection and entry tasks.</h3>
    </ol>
<div class="jumbotron2">
    <ol>
    <p>
        <h3>What files can I send the cropped data to?</h3>
        <h4>CyberPDF currently supports .docx, .xls, .csv, and webforms.</h4>
    </p>
    
    <p>
        <h3>How do I convert a list of PDFs to a Zipfile format?</h3>
        <h4>You can install a free zipfile converter program like 7zip and right click on the combined PDF pagess that you want to crop.</h4>
    </p>

    <p>
        <h3>Does CyberPDF crop images?</h3>
        <h4>The current version of CyberPDF does not support image cropping.</h4>
    </p>

     <p>
        <h3>Can I select multiple PDF pages to crop?</h3>
        <h4>The current version of CyberPDF does not support cropping multiple, different PDF pages.</h4> 
    </p>
    <p>
        <h3>I found a bug, where do I report it?</h3>
        <h4>Please report all bugs using the "Bug" tab, and we will fix the error as quickly as possible. </h4>
    </p>

    <p>
        <h3>How do I get in contact with the CyberPDF team?</h3>
        <h4>Our contact information can be found under the "Contact" tab.</h4> 
    </p>
     <p>
        <h3>What version is CyberPDF at, at the moment?</h3>
        <h4>Currently, CyberPDF is in alpha testing, version 0.1.</h4> 
    </p>
    </ol>
    </div>
</div>
</body>